<!-- Para cada tipo de usuário, deve ser possível realizar diferentes tarefas/funcionalidades. As
funcionalidades são:
1. Líder de facção:
a. Gerenciar aspectos da própria facção da qual é líder:
i. Alterar nome da facção
ii. Indicar novo líder (Dica: quando um novo líder assume a facção, o líder
anterior deve perder o acesso à funcionalidade)
iii. Credenciar comunidades novas (Participa), que habitem planetas
dominados por nações onde a facção está presente/credenciada
b. Remover facção de Nação (NacaoFacao)
2. Oficial: Não pode alterar nada na base. Apenas visualizar seus relatórios e overview.
3. Comandante:
a. Pode alterar aspectos da própria nação:
i. Incluir/excluir a própria nação de uma federação existente
ii. Criar nova federação, com a própria nação
b. Insere nova dominância de um planeta que não está sendo dominado por ninguém
4. Cientista:
a. Gerenciar (CRUD) estrelas -->
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="bg-gray-100">
        <nav class="flex items-center bg-blue-700 mb-4">
            <a href="/home" class="text-white font-bold py-2 px-4">Home</a>
            <p class="text-xl text-white font-bold py-2 px-4">usuário: {{ name }}</p>
            <!-- Spacer element com estilo inline para flex-grow -->
            <div style="flex-grow: 1;"></div>
            <a href="{{ url_for('relatorios') }}" class="bg-blue-700 text-white font-bold py-2 px-4">Relatórios</a>
            <a href="{{ url_for('logout') }}" class="bg-blue-700 text-white font-bold py-2 px-4">Logout</a>
        </nav>
        <div class="mt-4 mb-4">

            {% if role == 'OFICIAL' %}
            <h3 class="text-3xl text-center font-bold py-2 mb-4">Painel do Oficial</h3>
            <div class="flex justify-center items-center mt-4 bg-gray-100">
                <div class="bg-white p-10 w-96 rounded-lg shadow-lg">
                    <h4 class="text-2xl py-2 px-4">Relatórios</h4>
                    <br>
                    <p class="text-lg py-2 px-4">Para emitir relatórios, clique na opção no painel superior.</p>
                </div>
            </div>
            {% elif role == 'COMANDANTE' %}
            <h3 class="text-3xl text-center font-bold py-2 mb-4">Painel do Comandante da nação {{ nacao }}</h3>
            <div class="flex justify-center items-center mt-4 bg-gray-100">
                <div class="bg-white p-10 w-96 rounded-lg shadow-lg">
                    <form action="{{ url_for('add_nacao_federacao') }}" method="POST">
                        <h4 class="text-2xl py-2 px-4">Incluir {{ nacao }} em uma federação</h4>
                        <br>
                        <input class="bg-gray-100 py-2 px-4 mb-4" type="text" name="add_federacao" placeholder="Nome da federação" required>
                        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="flex justify-center items-center mt-4 bg-gray-100">
                <div class="bg-white p-10 w-96 rounded-lg shadow-lg">
                    <form action="{{ url_for('rm_nacao_federacao') }}" method="POST">
                        <h4 class="text-2xl py-2 px-4">Excluir {{ nacao }} de uma federação</h4>
                        <br>
                        <input class="bg-gray-100 py-2 px-4 mb-4" type="text" name="rm_federacao" placeholder="Nome da federação" required>
                        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="flex justify-center items-center mt-4 bg-gray-100">
                <div class="bg-white p-10 w-96 rounded-lg shadow-lg">
                    <form action="{{ url_for('criar_federacao') }}" method="POST">
                        <h4 class="text-2xl py-2 px-4">Criar nova federação com a própria nação</h4>
                        <br>
                        <input class="bg-gray-100 py-2 px-4 flex" type="text" name="nova_federacao" placeholder="Nome da nova federacao" required>
                        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="flex justify-center items-center mt-4 bg-gray-100">
                <div class="bg-white p-10 w-96 rounded-lg shadow-lg">
                    <form action="{{ url_for('add_dominancia') }}" method="POST">
                        <h4 class="text-2xl py-2 px-4">Inserir nova dominância</h4>
                        <br>
                        <input class="bg-gray-100 py-2 px-4 flex" type="text" name="planeta" placeholder="Nome do planeta" required>
                        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
                    </form>
                </div>
            </div>
            {% elif role == 'CIENTISTA' %}
            <h3 class="text-3xl text-center font-bold py-2 mb-4">Painel do Cientista</h3>
            <div class="flex justify-center items-center mt-4 bg-gray-100">
                <div class="bg-white p-10 w-96 rounded-lg shadow-lg">
                    <form action="{{ url_for('add_estrela') }}" method="POST">
                        <h4 class="text-2xl py-2 px-4">Adicionar estrela</h4>
                        <br>
                        <input class="bg-gray-100 py-2 px-4 flex" type="text" name="nome" placeholder="Nome da estrela" required>
                        <input class="mt-4 bg-gray-100 py-2 px-4 flex" type="text" name="tipo" placeholder="Tipo da estrela" required>
                        <input class="mt-4 bg-gray-100 py-2 px-4 flex" type="text" name="idade" placeholder="Idade da estrela" required>
                        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="flex justify-center items-center mt-4 bg-gray-100">
                <div class="bg-white p-10 w-96 rounded-lg shadow-lg">
                    <form action="{{ url_for('rm_estrela') }}" method="POST">
                        <h4 class="text-2xl py-2 px-4">Remover estrela</h4>
                        <br>
                        <input class="bg-gray-100 py-2 px-4 flex" type="text" name="nome" placeholder="Nome da estrela" required>
                        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="flex justify-center items-center mt-4 bg-gray-100">
                <div class="bg-white p-10 w-96 rounded-lg shadow-lg">
                    <form action="{{ url_for('update_estrela') }}" method="POST">
                        <h4 class="text-2xl py-2 px-4">Atualizar estrela</h4>
                        <br>
                        <input class="bg-gray-100 py-2 px-4 flex" type="text" name="nome" placeholder="Nome da estrela" required>
                        <input class="mt-4 bg-gray-100 py-2 px-4 flex" type="text" name="tipo" placeholder="Tipo da estrela" required>
                        <input class="mt-4 bg-gray-100 py-2 px-4 flex" type="text" name="idade" placeholder="Idade da estrela" required>
                        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </body>
</html>