<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="text-center">
        <h1 class="text-3xl font-bold text-gray-700">Welcome</h1>
        <h2 class="text-2xl text-gray-500">(and don't panic)</h2>

        <p class="mt-4"><a href="{{ url_for('login') }}" class="px-4 py-2 rounded text-white hover:bg-blue-700 bg-blue-500 ">Login</a></p>
    </div>
</body>
</html>