<!DOCTYPE html>
<html>
<head>
    <title>Relatórios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-gray-100">
    <nav class="flex items-center bg-blue-700 mb-4">
        <a href="/home" class="text-white font-bold py-2 px-4">Home</a>
        <p class="text-xl text-white font-bold py-2 px-4">Usuário: {{ name }}</p>
        <div style="flex-grow: 1;"></div>
        <a href="{{ url_for('logout') }}" class="bg-blue-700 text-white font-bold py-2 px-4">Logout</a>
    </nav>
    <div class="mb-4 mt-4">
        <h1 class="text-3xl font-bold text-center py-2 mb-4">Relatórios</h1>
        
        <!-- Relatório para Líder de Facção -->
        {% if is_leader %}
        <h2 class="text-2xl font-bold text-center py-2 mb-4">Relatório para Líder de Facção</h2>
        <table class="table-auto border-collapse w-full">
            <thead>
                <tr>
                    <th class="border border-blue-600">Nação</th>
                    <th class="border border-blue-600">Espécie</th>
                    <th class="border border-blue-600">Planeta</th>
                    <th class="border border-blue-600">Sistema</th>
                </tr>
            </thead>
            <tbody>
                {% for comunidade in comunidades %}
                <tr>
                    <td class="border border-blue-600">{{ comunidade.nacao }}</td>
                    <td class="border border-blue-600">{{ comunidade.especie }}</td>
                    <td class="border border-blue-600">{{ comunidade.planeta }}</td>
                    <td class="border border-blue-600">{{ comunidade.sistema }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('download_report', report_type='leader') }}" method="POST" class="text-center mt-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download em CSV</button>
        </form>
        {% endif %}
        
        <!-- Relatório para Oficial -->
        {% if role == 'OFICIAL' %}
        <h2 class="text-2xl font-bold text-center py-2 mb-4">Relatório para Oficial</h2>
        <table class="table-auto border-collapse w-full">
            <thead>
                <tr>
                    <th class="border border-blue-600">Habitação</th>
                    <th class="border border-blue-600">Espécie</th>
                    <th class="border border-blue-600">Facção</th>
                    <th class="border border-blue-600">Planeta</th>
                    <th class="border border-blue-600">Sistema</th>
                </tr>
            </thead>
            <tbody>
                {% for habitante in habitantes %}
                <tr>
                    <td class="border border-blue-600">{{ habitante.habitacao }}</td>
                    <td class="border border-blue-600">{{ habitante.especie }}</td>
                    <td class="border border-blue-600">{{ habitante.faccao }}</td>
                    <td class="border border-blue-600">{{ habitante.planeta }}</td>
                    <td class="border border-blue-600">{{ habitante.sistema }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        {% endif %}
        
        <!-- Relatório para Comandante -->
        {% if role == 'COMANDANTE' %}
        <h2 class="text-2xl font-bold text-center py-2 mb-4">Relatório para Comandante</h2>
        <table class="table-auto border-collapse w-full">
            <thead>
                <tr>
                    <th class="border border-blue-600">Planeta</th>
                    <th class="border border-blue-600">Nação Dominante</th>
                    <th class="border border-blue-600">Comunidades</th>
                    <th class="border border-blue-600">Espécies</th>
                    <th class="border border-blue-600">Habitantes</th>
                    <th class="border border-blue-600">Facções</th>
                    <th class="border border-blue-600">Facção Majoritária</th>
                </tr>
            </thead>
            <tbody>
                {% for planeta in planetas %}
                <tr>
                    <td class="border border-blue-600">{{ planeta.nome }}</td>
                    <td class="border border-blue-600">{{ planeta.nacao_dominante }}</td>
                    <td class="border border-blue-600">{{ planeta.comunidades }}</td>
                    <td class="border border-blue-600">{{ planeta.especies }}</td>
                    <td class="border border-blue-600">{{ planeta.habitantes }}</td>
                    <td class="border border-blue-600">{{ planeta.faccoes }}</td>
                    <td class="border border-blue-600">{{ planeta.faccao_majoritaria }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        {% endif %}
    </div>
</body>
</html>